<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <body>
    <h1>Welcome to Assignments!</h1>
    <p>
    I suppose I will outline some memorable assignments for each class in this webpage.
    <ul> 
      <li>Linear Algebra: Deriving an explicit formula for Fibonacci numbers on the final was traumatizing... recursion was invented for a reason. </li>
      <li>Physics: Midterm 2 was easier than midterm 1, and the mode for midterm 1 was 100%. </li>
      <li>Data Structures: Printing out a vertical binary tree for Homework 3 was difficult, but quite pretty. </li>
      <li>Python: Never forget the shark jumping out of the Tetons for Homework 4. </li>
      <li>UWriting: I still can't believe I made a logical, coherent argument for P2.</li> 
      <li>Chem Lab: Imagine writing lab reports without doing the lab. Wait, I don't have to imagine. If you're reading this Enda Xiao, love you. &#128149 </li>
    <ul>
    </p>
    </body>
</html>


