<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home Page</title>
    <head>
    <body>
    <h1>Andrew Jin</h1>
    <img src="/static/Profile_Photo.jpg" width="267.5" height="321">
    <p>Hello World! Welcome to my website! <br>
    I just finished freshman year of college. <br>
    I'm planning to study applied mathmematics.
    </p>
    <p><a href="/assignments">Visit Assignments Section</a></p>
    <p><a href="/classes">Visit Classes Section</a></p>
    <p>
    If you have free time, check out: 
    <a href="https://www.kongregate.com">Kongregate</a>
    </p>
    </body>
</html>

