<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1>Welcome to Classes!</h1>
    <p>
    In assignments, I focus on the most memorable assignment from each class. Here, I will talk about my most/least favorite part about each class.
    <ul>
      <li>Linear Algebra: Most Favorite - Math. Need I say more? | Least Favorite - I've never done this much memorization for math before.</li>
      <li>Physics: Most Favorite - Psets with friends right before the deadline. | Least Favorite - Recitations. Recitations. And did I mention recitations?</li>
      <li>Data Structures: Most Favorite - Blaer makes the 5:40-6:55 lecture energizing somehow. | Least Favorite - Some of those homeworks were so vague even Piazza couldn't solve them.</li>
      <li>Python: Most Favorite - Learned practical skills that I've actually used! | Least Favorite - Learned to Google almost as much as Python.</li>
      <li>UWriting: Most Favorite - The readings were very interesting, I liked them. | Least Favorite - This class is like a black hole for free time.</li>
      <li>Chem Lab: LITERALLY EVERYTHING: SHOUTOUT TO MY LAB GROUP AND PROFESSOR AVILA. | Least Favorite - Online lab... just doesn't work.</li>
    </p>
    </body>
</html>


